<div class="card card-primary">
  <%= form_with(model: issue) do |form| %>
    <div class="card-body">
      <% if issue.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

          <ul>
            <% issue.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :visibility %>
        <%= form.select :visibility, [["Public", 0], ["Private", 1]], class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :submited_date %>
        <%= form.date_field  :submited_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :additional_information %>
        <%= form.text_area :additional_information, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :product_version %>
        <%= form.text_field :product_version, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :creator_user %>
        <%= form.collection_select :creator_user_id, User.order(:name), :id, :name %>
      </div>

      <div class="form-group">
        <%= form.label :assigned_user %>
        <%= form.collection_select :assigned_user_id, User.order(:name), :id, :name, :include_blank => true %>
      </div>

      <div class="form-group">
        <%= form.label :status %>
        <%= form.collection_select :status_id, Status.order(:id), :id, :description %>
      </div>

      <div class="form-group">
        <%= form.label :priority %>
        <%= form.collection_select :priority_id, Priority.order(:id), :id, :description %>
      </div>

      <div class="form-group">
        <%= form.label :severity %>
        <%= form.collection_select :severity_id, Severity.order(:id), :id, :description %>
      </div>
      
      <div class="form-group">
        <%= form.label :reproducibility %>
        <%= form.collection_select :reproducibility_id, Reproducibility.order(:id), :id, :description %>
      </div>

      <div class="form-group">
        <%= form.label :category %>
        <%= form.collection_select :category_id, Category.order(:id), :id, :description %>
      </div>
      

      <div class="card-footer">
        <%= form.submit 'Salvar', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>