<div class="card card-primary">
  <%= form_with(model: issue) do |form| %>
    <div class="card-body">    
      <% if issue.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

          <ul>
            <% issue.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        
          <div class="form-group col-md-6">
            <%= form.label t('issues.title') %>
            <%= form.text_field :title, class: "form-control" %>
          </div>
        
        

        <div class="form-group col-md-6">
          <%= form.label t('issues.description') %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
      </div>
      

      
      <div class="form-group">
        <select class="custom-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    

      <div class="form-group">
        <%= form.label t('issues.visibility') %>
        <%= form.select :visibility, [["Public", 0], ["Private", 1]], {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.submited_date') %>
        <%= form.date_field  :submited_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.additional_information') %>
        <%= form.text_area :additional_information, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.product_version') %>
        <%= form.text_field :product_version, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.creator_user') %>
        <%= form.collection_select :creator_user_id, User.order(:name), :id, :name %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.assigned_user') %>
        <%= form.collection_select :assigned_user_id, User.order(:name), :id, :name, :include_blank => true %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.status') %>
        <%= form.collection_select :status_id, Status.order(:id), :id, :description %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.priority') %>
        <%= form.collection_select :priority_id, Priority.order(:id), :id, :description %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.severity') %>
        <%= form.collection_select :severity_id, Severity.order(:id), :id, :description %>
      </div>
      
      <div class="form-group">
        <%= form.label t('issues.reproducibility') %>
        <%= form.collection_select :reproducibility_id, Reproducibility.order(:id), :id, :description %>
      </div>

      <div class="form-group">
        <%= form.label t('issues.category') %>
        <%= form.collection_select :category_id, Category.order(:id), :id, :description %>
      </div>
      
      <div class="form-group">
        <%= form.submit t('buttons.save') , class: "btn btn-primary" %>
      </div>

    </div>
  <% end %>
</div>