<p id="notice"><%= notice %></p>

<% content_for :title, translate_model(Issue) %>

<div class="dataTables_wrapper dt-bootstrap4">  
  <div calss="row">
    <div calss="col-sm-12">      
      <table id="issue_table" class="table table-bordered table-striped dtr-inline" role="grid">
        <thead>
          <tr role="row">
            <th width="3%">#</th>
            <th class="sorting"> <%= t('.title') %> </th>
            <th class="sorting" width="10%"> <%= translate_attribute(Issue, :creator_user) %> </th>
            <th class="sorting" width="10%"> <%= translate_attribute(Issue, :assigned_user) %> </th>
            <th class="sorting" width="10%"> <%= translate_attribute(Issue, :category) %> </th>
            <th class="sorting" width="10%"> <%= translate_attribute(Issue, :severity) %> </th>
            <th class="sorting" width="10%"> <%= translate_attribute(Issue, :status) %> </th>            
            <th class="sorting text-center" width="11%"> <%= translate_attribute(Issue, :submited_date) %> </th>
            <th class="text-center" width="10%"> <%= t('others.actions') %> </th>
          </tr>
        </thead>

        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= issue.id %></td>
              <td><%= issue.title %></td>
              <td><%= issue.creator_user.name %></td>
              <td><%= issue.assigned_user.name if issue.assigned_user %></td>
              <td><%= issue.category.description %></td>
              <td><%= issue.severity.description %></td>
              <td><%= issue.status.description %></td>              
              <td><%= l(issue.submited_date) %></td>

              <td>
                <div class="text-center">
                  <%= link_to issue, class: "btn btn-outline-secondary btn-sm" do %>                    
                      <span class="fa fa-search" />                      
                  <% end %>

                  <%= link_to edit_issue_path(issue), class: "btn btn-outline-secondary btn-sm" do %>                    
                      <span class="fa fa-pen" />
                  <% end %>

                  <%= link_to issue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" do %>
                      <span class="fa fa-trash" />                         
                  <% end %>
                </div>
              </td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <%= link_to t('buttons.new') + ' ' + translate_model(Issue), new_issue_path, class: "btn btn-primary"  %>
</div>
              