<p id="notice"><%= notice %></p>

<% content_for :title, @issues.model_name %>

<div class="dataTables_wrapper dt-bootstrap4">  
  <div calss="row">
    <div calss="col-sm-12">
      
      <table id="issue_table" class="table table-bordered table-striped dtr-inline" role="grid">
        <thead>
          <tr role="row">
            <th>#</th>
            <th class="sorting">Creator User</th>
            <th class="sorting">Assigned User</th>
            <th class="sorting">Category</th>
            <th class="sorting">Severity</th>
            <th class="sorting">Status</th>
            <th class="sorting">Title</th>
            <th class="sorting">Submited date</th>
            <th class="sorting" colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= issue.id %></td>
              <td><%= issue.creator_user.name %></td>
              <td><%= issue.assigned_user.name if issue.assigned_user %></td>
              <td><%= issue.category.description %></td>
              <td><%= issue.severity.description %></td>
              <td><%= issue.status.description %></td>
              <td><%= issue.title %></td>
              <td><%= issue.submited_date %></td>
              <td><%= link_to 'Show', issue %></td>
              <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
              <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'New Issue', new_issue_path %>

