<p id="notice"><%= notice %></p>

<% content_for :title, t('issues.model_name') %>

<div class="dataTables_wrapper dt-bootstrap4">  
  <div calss="row">
    <div calss="col-sm-12">      
      <table id="issue_table" class="table table-bordered table-striped dtr-inline" role="grid">
        <thead>
          <tr role="row">
            <th width="3%">#</th>
            <th class="sorting"> <%= t('issues.title') %> </th>
            <th class="sorting" width="10%"> <%= t('issues.creator_user') %> </th>
            <th class="sorting" width="10%"> <%= t('issues.assigned_user') %> </th>
            <th class="sorting" width="10%"> <%= t('issues.category') %> </th>
            <th class="sorting" width="10%"> <%= t('issues.severity') %> </th>
            <th class="sorting" width="10%"> <%= t('issues.status') %> </th>            
            <th class="sorting text-center" width="11%"> <%= t('issues.submited_date') %> </th>
            <th class="text-center" width="10%"> <%= t('others.actions') %> </th>
          </tr>
        </thead>

        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= issue.id %></td>
              <td><%= issue.title %></td>
              <td><%= issue.creator_user.name %></td>
              <td><%= issue.assigned_user.name if issue.assigned_user %></td>
              <td><%= issue.category.description %></td>
              <td><%= issue.severity.description %></td>
              <td><%= issue.status.description %></td>              
              <td><%= issue.submited_date.strftime("%d/%m/%Y %T") %></td>

              <td>
                <div class="text-center">
                  <%= link_to issue do %>
                    <button class="btn btn-outline-secondary btn-sm" >
                      <span class="fa fa-search">
                      </span>
                    </button>
                  <% end %>

                  <%= link_to edit_issue_path(issue)  do %>
                    <button class="btn btn-outline-secondary btn-sm" >
                      <span class="fa fa-pen">
                      </span>
                    </button>
                  <% end %>

                  <%= link_to issue, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button class="btn btn-outline-secondary btn-sm" >
                      <span class="fa fa-trash">
                      </span>
                    </button>
                  <% end %>
                </div>
              </td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <%= link_to t('buttons.new') + ' ' + t('issues.model_name'), new_issue_path, class: "btn btn-primary"  %>
</div>
              