<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @issue.visibility %>
</p>

<p>
  <strong>Submited date:</strong>
  <%= @issue.submited_date %>
</p>

<p>
  <strong>Additional information:</strong>
  <%= @issue.additional_information %>
</p>

<p>
  <strong>Product version:</strong>
  <%= @issue.product_version %>
</p>

<p>
  <strong>Creator User:</strong>
  <%= @issue.creator_user.name %>
</p>

<p>
  <strong>Assigned User:</strong>
  <%= @issue.assigned_user.name if @issue.assigned_user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority.description %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @issue.severity.description %>
</p>

<p>
  <strong>Reproducibility:</strong>
  <%= @issue.reproducibility.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @issue.category.description %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
