<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td>
      <b><%= t('issues.category') %>:</b>
      <%= @issue.category.description %>
    </td>
    <td>
      <b><%= t('issues.status') %>:</b>
      <%= @issue.status.description %>
    </td>
    <td>
      <b><%= t('issues.visibility') %>:</b>
      <%= @issue.visibility %>
    </td>
    <td>
      <b><%= t('issues.reproducibility') %>:</b>
      <%= @issue.reproducibility.description %>
    </td>
    <td>
      <b><%= t('issues.severity') %>:</b>
      <%= @issue.severity.description %>
    </td>
  </tr>
  <tr>
    <td>
      <b><%= t('issues.priority') %>:</b>
      <%= @issue.priority.description %>
    </td>
    <td>
      <b><%= t('issues.creator_user') %>:</b>
      <%= @issue.creator_user.name %>
    </td>
    <td>
      <b><%= t('issues.assigned_user') %>:</b>
      <%= @issue.assigned_user.name if @issue.assigned_user %>
    </td>
    <td>
      <b><%= t('issues.product_version') %>:</b>
      <%= @issue.product_version %>
    </td>
    <td>
      <b><%= t('issues.submited_date') %>:</b>
      <%= l(@issue.submited_date) %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <b><%= t('issues.title') %>:</b>
      <%= @issue.title %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <b><%= t('issues.description') %>:</b>
      <%= @issue.description %>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <b><%= t('issues.additional_information') %>:</b>
      <%= @issue.additional_information %>
    </td>
  </tr>
</table>

<div>
  <%= link_to t('buttons.edit') , edit_issue_path(@issue)  %> |
  <%= link_to t('buttons.back') , issues_path %>
</div>

<br/>