<p id="notice"><%= notice %></p>

<% content_for :title, translate_model(Priority) %>

<div class="dataTables_wrapper dt-bootstrap4">  
  <div calss="row">
    <div calss="col-sm-12">      
      <table id="priority_table" class="table table-bordered table-striped dtr-inline" role="grid">
        <thead>
          <tr role="row">
            <th width="3%">#</th>
            <th class="sorting"> <%= translate_attribute(Priority, :description) %> </th>        
            <th class="sorting text-center" width="11%"> <%= translate_attribute(Priority, :created_at) %> </th>
            <th class="text-center" width="10%"> <%= t('others.actions') %> </th>
          </tr>
        </thead>

        <tbody>
          <% @priorities.each do |priority| %>
            <tr>
              <td><%= priority.id %></td>
              <td><%= priority.description %></td>      
              <td><%= l(priority.created_at) %></td>

              <td>
                <div class="text-center">
                  <%= link_to priority, class: "btn btn-outline-secondary btn-sm" do %>                    
                      <span class="fa fa-search" />                      
                  <% end %>

                  <%= link_to edit_priority_path(priority), class: "btn btn-outline-secondary btn-sm" do %>                    
                      <span class="fa fa-pen" />
                  <% end %>

                  <%= link_to priority, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" do %>
                      <span class="fa fa-trash" />                         
                  <% end %>
                </div>
              </td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <%= link_to t('buttons.new') + ' ' + translate_model(Priority), new_priority_path, class: "btn btn-primary"  %>
</div>
              