<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td colspan="5">
      <b><%= translate_attribute(Priority, :description) %>:</b>
      <%= @priority.description %>
    </td>
  </tr>
</table>

<div>
  <%= link_to t('buttons.edit') , edit_priority_path(@priority)  %> |
  <%= link_to t('buttons.back') , priorities_path %>
</div>

<br/>