<p id="notice"><%= notice %></p>

<% content_for :title, translate_model(Project) %>

<div class="dataTables_wrapper dt-bootstrap4">  
  <div calss="row">
    <div calss="col-sm-12">      
      <table id="project_table" class="table table-bordered table-striped dtr-inline" role="grid">
        <thead>
          <tr role="row">
            <th width="3%">#</th>
            <th class="sorting"> <%= translate_attribute(Project, :name) %> </th>  
            <th class="sorting"> <%= translate_attribute(Project, :description) %> </th> 
            <th class="sorting" width="10%"> <%= translate_attribute(Project, :visibility) %> </th>       
            <th class="sorting text-center" width="11%"> <%= translate_attribute(Project, :created_at) %> </th>
            <th class="text-center" width="10%"> <%= t('others.actions') %> </th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.id %></td>
              <td><%= project.name %></td>  
              <td><%= project.description %></td>   
              <td><%= enum_l(project, :visibility)%></td>    
              <td><%= l(project.created_at) %></td>

              <td>
                <div class="text-center">
                  <%= link_to project, class: "btn btn-outline-secondary btn-sm" do %>                    
                      <span class="fa fa-search" />                      
                  <% end %>

                  <%= link_to edit_project_path(project), class: "btn btn-outline-secondary btn-sm" do %>                    
                      <span class="fa fa-pen" />
                  <% end %>

                  <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" do %>
                      <span class="fa fa-trash" />                         
                  <% end %>
                </div>
              </td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <%= link_to t('buttons.new') + ' ' + translate_model(Project), new_project_path, class: "btn btn-primary"  %>
</div>
              