<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td>
      <b><%= t('projects.name') %>:</b>
      <%= @project.name %>
    </td>
    <td>
      <b><%= t('projects.visibility') %>:</b>
      <%= enum_l(@project, :visibility) %>
    </td>
    <td>
      <b><%= t('projects.enable') %>:</b>
      <%= @project.enable%>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b><%= t('projects.description') %>:</b>
      <%= @project.description %>
    </td>
  </tr>
</table>

<div>
  <%= link_to t('buttons.edit') , edit_project_path(@project)  %> |
  <%= link_to t('buttons.back') , projects_path %>
</div>

<br/>