<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td>
      <b><%= translate_attribute(Project, :name) %>:</b>
      <%= @project.name %>
    </td>
    <td>
      <b><%= translate_attribute(Project, :visibility) %>:</b>
      <%= enum_l(@project, :visibility) %>
    </td>
    <td>
      <b><%= translate_attribute(Project, :enable) %>:</b>
      <%= @project.enable%>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b><%= translate_attribute(Project, :description) %>:</b>
      <%= @project.description %>
    </td>
  </tr>
</table>

<div>
  <%= link_to t('buttons.edit') , edit_project_path(@project)  %> |
  <%= link_to t('buttons.back') , projects_path %>
</div>

<br/>