<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td colspan="5">
      <b><%= t('severities.description') %>:</b>
      <%= @severity.description %>
    </td>
  </tr>
</table>

<div>
  <%= link_to t('buttons.edit') , edit_severity_path(@severity)  %> |
  <%= link_to t('buttons.back') , severities_path %>
</div>

<br/>